[alias]
	fixup = commit --amend --no-edit
	amend = commit --amend --no-edit
	fpush = push --force-with-lease
	asrebase = rebase -i --autosquash
	amend-push = !git amend && git push --force-with-lease
	difi = "!f() { git -c delta.side-by-side=false diff \"$@\"; git ls-files --others --exclude-standard -z | xargs -0 -r -I{} git -c delta.side-by-side=false diff --no-index -- /dev/null {} 2>/dev/null; true; }; f"
	difu = "!f() { git diff \"$@\"; git ls-files --others --exclude-standard -z | xargs -0 -r -I{} git diff --no-index -- /dev/null {} 2>/dev/null; true; }; f"
[safe]
	directory = *
[include]
	path = ~/.gitconfig.local
[core]
	pager = delta
[delta]
	syntax-theme = GitHub
	line-numbers = true
	light = true
	navigate = true
	features = sbs
[delta "sbs"]
	side-by-side = true
[delta "inline"]
	side-by-side = false
[interactive]
	diffFilter = delta --color-only
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default
	renames = true
	mnemonicPrefix = true
[branch]
	sort = -committerdate
[fetch]
	prune = true
	pruneTags = true
	all = true
[commit]
	verbose = true
[status]
	showStash = true
	showUntrackedFiles = all
